.col-md-12
  .panel.panel-default
    .panel-heading
      %h4
        %i.fa.fa-print
          Print Jobs
        %button.btn.btn-success.btn-sm.btn-margin.pull-right{data: { toggle: "modal", target: "#new-printJob-modal" } } New Print Job
        = link_to print_jobs_path(format: "xls"), class: "btn btn-primary btn-sm btn-margin pull-right" do
          Download as XLS

    .panel-body
      %table.table.table-hover.table-responsive
        %thead
          %tr
            %th.text-center #
            %th Name
            %th Account
            %th Printer
            %th.text-center Qty
            %th.text-center Rate
            %th.text-center Total Quote
            %th.text-center Rewards %
            %th.text-center Total Rewards
            %th.text-center Total Paid
            %th.text-center Date Paid
            %th Actions
        %tbody= render @print_jobs

= render "new"
          
