<div class="modal fade" id="task_<%= task.id %>_notes_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel"> Task Notes</h4>
      </div>

        <div class="modal-body">
          <%= render task.notes if task.notes %>
        </div>

        <div class="modal-footer">
          <%= render "notes/new", :task => task %>
        </div>

    </div>
  </div>
</div>

