<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $('#tabs').tab();
    });
</script>

<div class="panel panel-default">

  <div class="panel-heading"><h4><i class="fa fa-check-circle"></i> Tasks

    <ul id="tabs" class="nav nav-pills" data-tabs="tabs" style="float: right; font-size: 12px;">
        <li class="active"><a href="#myTasks" data-toggle="tab">Your Tasks</a></li>
        <li><a href="#allTasks" data-toggle="tab">All Tasks</a></li>
    </ul></h4></div>

  <div class="panel-body">

    <div id="my-tab-content" class="tab-content">
        <div class="tab-pane active" id="myTasks">
            <%= render partial: "tasks/tasks_list", :locals => {:tasks => current_user.tasks.incomplete.order("due_date")} %>
        </div>
        <div class="tab-pane" id="allTasks">
            <%= render partial: "tasks/tasks_list", :locals => {:tasks => Task.all.incomplete.order("due_date")} %>
        </div>
    </div>

  </div>

</div>

