<h2><i class="fa fa-users"></i> Team</h2>

<hr>

<% for user in @users %>

  <div class="panel panel-default">

    <div class="panel-heading">
      <h4><i class="fa fa-user" style="color: #666"></i> <%= link_to user.name, user %> <%= "<font color=#999>(#{user.email})</font>".html_safe %></h4>
    </div>

    <div class="panel-body">

      <table class="table">
        <thead>
          <tr>
          	<th>Product</th>
            <th>Project</th>
            <th>Start Date</th>
            <th>Due Date</th>
            <th>End Date</th>
            <th>Status</th>
          </tr>
        </thead>
      </table>

    </div>

  </div>

<% end %>

<br>