<div class="panel panel-default">

	<div class="panel-heading">
		<h3><%= @user.name %></h3>
	</div>

	<div class="panel-body">
		<div class="user-info">
			<p>
				<i class="fa fa-envelope"></i> <%= @user.email %><br>
				<i class="fa fa-key"></i> Last Sign-In: <%= time_ago_in_words(@user.last_sign_in_at) %>
			</p>
		</div>
	</div>

</div>

<hr>

<div class="panel panel-default">

	<div class="panel-heading">
		<h4><i class="fa fa-folder-o"></i> Current Projects ()</h4>
	</div>

	<div class="panel-body">

		<table class="table">
			<thead>
				<tr>
					<th>Product</th>
					<th>Project</th>
					<th>Start Date</th>
				   <th>Due Date</th>
				   <th>End Date</th>
				   <th>Status</th>
				</tr>
			</thead>
		</table>

	</div>

</div>

<div class="panel panel-default">
	<div class="panel-heading">
		<h4><i class="fa fa-folder-o"></i> Previous Projects ()</h4>
	</div>

	<div class="panel-body">

		<table class="table">
			<thead>
			   <tr>
				   <th>Product</th>
				   <th>Project</th>
			      <th>Start Date</th>
			      <th>Due Date</th>
			      <th>End Date</th>
			      <th>Status</th>
			   </tr>
			</thead>
		</table>

	</div>

</div>