<div class="col-md-12">

	<div class="panel panel-default changelog">
		<div class="panel-heading"><h4>apollo 1.46 <div class="pull-right">Current</div></h4></div>
		<div class="panel-body">

			<h5>General</h5>
			<ul>
				<li>Changelog created & accessible by menu</li>
				<li>Font Awesome URL added back to fix icons</li>
			</ul>

			<h5>Projects</h5>
			<ul>
				<li>Completed Projects now sorted by end date in Project index view</li>
				<li>Active Projects & Completed Projects either show due_date or end_date, respectively, but not both</li>
				<li>Number of items visible in Project tables</li>
			</ul>

			<h5>Tasks</h5>
			<ul>
				<li>Tasks sort by starred for Tasks page fixed</li>
			</ul>

			<h5>Emails</h5>
			<ul>
				<li>Email Notification UI created</li>
				<li>Email Notification for assigned users when Project is created</li>
				<li>Email Notification now get sent whenever anyone new is assigned to Project</li>
			</ul>

			<h5>Users</h5>
			<ul>
				<li>Password confirmation issue fixed</li>
				<li>Team Page user profile made into a link to user profile</li>
			</ul>
		</div>



	</div>


	<div class="panel panel-default changelog">
		<div class="panel-heading"><h4>apollo 1.45 <div class="pull-right">June 30, 2014</div></h4></div>
		<div class="panel-body">

			<h5>General</h5>
			<ul>
				<li>Font Awesome now local</li>
				<li>Note added</li>
				<li>Missing indexes added to tables for optimization</li>
				<li>Migration for created_by for projects, tasks, items & notes</li>
			</ul>

			<h5>Products</h5>
			<ul>
				<li>Add Products back in Menu</li>
			</ul>

			<h5>Projects</h5>
			<ul>
				<li>Refactored Project tasks</li>
				<li>Jquery new task implemented</li>
				<li>Jquery delete task implemented</li>
				<li>Jquery starred task implemented</li>
				<li>Highlight project date if past due_date</li>
				<li>Project due_date not mandatory any more</li>
				<li>New Project modal added</li>
				<li>Project Wall overflow fixed</li>
			</ul>

			<h5>Items</h5>
			<ul>
				<li>Created_by added to Item</li>
			</ul>

			<h5>Tasks</h5>
			<ul>
				<li>New task due_date bug fixed</li>
				<li>Created_by added to Task</li>
			</ul>

			<h5>Note</h5>
			<ul>
				<li>Note created with content</li>
				<li>Created_by added to Note</li>
			</ul>

			<h5>User Interface</h5>
			<ul>
				<li>Noty moved to bottom right</li>
			</ul>

		</div>
	</div>



	<div class="panel panel-default changelog">
		<div class="panel-heading"><h4>apollo 1.40 <div class="pull-right">June 5, 2014</div></h4></div>
		<div class="panel-body">

			<h5>General</h5>
			<ul>
				<li>Various bug fixes</li>
				<li>Authenticated root fixed</li>
				<li>www.ecwapollo.com purchased</li>
				<li>DNS Name Servers for ecwapollo.com configured</li>
				<li>www.ecwapollo.com verified</li>
			</ul>

			<h5>Products</h5>
			<ul>
				<li>Projects in Products are sorted correctly now</li>
				<li>Modal edit added</li>
			</ul>

			<h5>Projects</h5>
			<ul>
				<li>Project Page revamped</li>
				<li>Project refactored</li>
				<li>Modal edit added</li>
				<li>Project wall scroll overflow fixed</li>
				<li>Unassigned Projects show in team view</li>
				<li>New Project goes to Project after saved</li>
			</ul>

			<h5>Items</h5>
			<ul>
				<li>Modal edit added</li>
				<li>Item types added</li>
			</ul>

			<h5>Tasks</h5>
			<ul>
				<li>Edit task with details implemented</li>
				<li>Hover over for task implemented</li>
			</ul>


			<h5>User Interface</h5>
			<ul>
				<li>Major refactoring of CSS/SCSS</li>
				<li>Formatting issues fixed</li>
				<li>Make UI more flat, less clustered</li>
				<li>Add tooltips</li>
			</ul>

		</div>
	</div>


		<div class="panel panel-default changelog">
		<div class="panel-heading"><h4>apollo 1.35 <div class="pull-right">May 29, 2014</div></h4></div>
		<div class="panel-body">

			<h5>General</h5>
			<ul>
				<li>New root implemented</li>
				<li>Maintainence & Refactoring</li>
			</ul>

			<h5>Projects</h5>
			<ul>
				<li>Show all projects in team</li>
				<li>Project add/edit users listed alphabetically</li>
				<li>Fixed user/projects assignment</li>
			</ul>

			<h5>Tasks</h5>
			<ul>
				<li>Completed tasks hidden by default</li>
				<li>Association with Items created (belongs_to)</li>
				<li>Tasks can be created for items or for project (general tasks)</li>
			</ul>

			<h5>Items</h5>
			<ul>
				<li>Items better integrated into Projects</li>
				<li>Association with Tasks created (has_many)</li>
			</ul>

			<h5>Users</h5>
			<ul>
				<li>Alphabetical sort of users on Team Page</li>
			</ul>

			<h5>User Interface</h5>
			<ul>
				<li>Task & Items UI updated</li>
				<li>Spacing issue with Add Task fixed</li>
				<li>Spacing issue with Add Task for Items fixed</li>
			</ul>

		</div>
	</div>

	<div class="panel panel-default changelog">
		<div class="panel-heading"><h4>apollo 1.30 <div class="pull-right">May 06, 2014</div></h4></div>
		<div class="panel-body">

			<h5>General</h5>
			<ul>
				<li>Install and configure Puma for speed</li>
			</ul>

			<h5>Projects</h5>
			<ul>
				<li>Custom sort written for Projects sort</li>
				<li>Refactored Projects</li>
				<li>Project status changed with jquery</li>
				<li>Late due_date highlighted for Project</li>
				<li>Add assigned to to Projects tables</li>
				<li>Implement profile photo instead of name for assigned to</li>
				<li>Time and date separation added for due_date</li>
			</ul>

			<h5>Products</h5>
			<ul>
				<li>New & Edit Product link re-added to Products</li>
				<li>UI usability improved</li>
			</ul>

		</div>
	</div>


	<div class="panel panel-default changelog">
		<div class="panel-heading"><h4>apollo 1.27 <div class="pull-right">April 23, 2014</div></h4></div>
		<div class="panel-body">

			<h5>General</h5>
			<ul>
				<li>Refactored & upkeep</li>
				<li>Amazon S3 (AWS) added to handle profile photos</li>
				<li>Created new directory for assets in dev</li>
				<li>Added public/system to git ignore</li>
				<li>Removed public/system from Heroku</li>
				<li>Amazon S3 with Paperclip gem implemented</li>
			</ul>

			<h5>Tasks</h5>
			<ul>
				<li>Integrated starred partial to tasks</li>
			</ul>

			<h5>User Interface</h5>
			<ul>
				<li>Navbar jellybeans updated</li>
				<li>Tabbed menu for tasks and projects</li>
				<li>UI updated</li>
			</ul>

		</div>
	</div>

		<div class="panel panel-default changelog">
		<div class="panel-heading"><h4>apollo 1.24 <div class="pull-right">April 21, 2014</div></h4></div>
		<div class="panel-body">

			<h5>General</h5>
			<ul>
				<li>Assets cleaned & precompiled</li>
			</ul>

			<h5>Users</h5>
			<ul>
				<li>User profile photos added</li>
				<li>User profile photo sizes implemented</li>
			</ul>

			<h5>User Interface</h5>
			<ul>
				<li>Navbar jellybeans updated</li>
				<li>UI updated</li>
			</ul>

		</div>
	</div>



		<div class="panel panel-default changelog">
		<div class="panel-heading"><h4>apollo 1.21 <div class="pull-right">April 18, 2014</div></h4></div>
		<div class="panel-body">

			<h5>General</h5>
			<ul>
				<li>Routes updated</li>
			</ul>

			<h5>Tasks</h5>
			<ul>
				<li>myTasks page added</li>
				<li>user_id & project_id made mandatory for tasks</li>
				<li>Assigning tasks to users implemented</li>
				<li>Only assigned user can complete task</li>
				<li>Starred added to tasks</li>
			</ul>

			<h5>Calendar</h5>
			<ul>
				<li>myCalendar page added</li>
			</ul>

			<h5>User Interface</h5>
			<ul>
				<li>User Interface updated to show tasks better</li>
			</ul>

		</div>
	</div>


	<div class="panel panel-default changelog">
		<div class="panel-heading"><h4>apollo 1.20 <div class="pull-right">April 16, 2014</div></h4></div>
		<div class="panel-body">

			<h5>General</h5>
			<ul>
				<li>Comments added</li>
				<li>Assets cleaned and precompiled</li>
				<li>Refactored time</li>
				<li>Environment (development & production) asset management configured</li>
			</ul>

			<h5>Projects</h5>
			<ul>
				<li>Assignments fixed for adding users</li>
				<li>MyProjects page added</li>
				<li>Projects refactored</li>
				<li>Alphabetize Projects order</li>
				<li>Updated Project status to: In Queue, Waiting, In Progress, Completed, Cancelled</li>
				<li>Added task titles to Project index respectively</li>
				<li>Project status "Cancelled" now mimics "Completed" behavior</li>
				<li>Time for project due dates defaults to 5 PM EST</li>
			</ul>

			<h5>Items</h5>
			<ul>
				<li>Status added to Items</li>
				<li>Items integrated into Projects</li>
			</ul>

			<h5>Tasks</h5>
			<ul>
				<li>Task progress bar added</li>
				<li>Tasks order alphabetized</li>
			</ul>

			<h5>Comments</h5>
			<ul>
				<li>Comments created with content</li>
				<li>Association added with Projects (belongs_to)</li>
				<li>Association added with Users (belongs_to)</li>
				<li>Comments refactored</li>
			</ul>

			<h5>User Interface</h5>
			<ul>
				<li>User Interface updated</li>
				<li>Top Menu replaced by Side Menu</li>
				<li>Background made darker</li>
				<li>Dates past deadlines become bold & red</li>
				<li>Nav Bar jellybeans added for counts</li>
				<li>UI forms updated for adding tasks, comments, items</li>
			</ul>

		</div>
	</div>

	<div class="panel panel-default changelog">
		<div class="panel-heading"><h4>apollo 1.15 <div class="pull-right">April 10, 2014</div></h4></div>
		<div class="panel-body">

			<h5>General</h5>
			<ul>
				<li>Items added</li>
				<li>Added Calendar for tasks</li>
			</ul>

			<h5>Projects</h5>
			<ul>
				<li>Priority added to Projects</li>
				<li>Assigned By added to Projects</li>
				<li>Starred added to Projects</li>
				<li>End Date added to Projects</li>
				<li>Priority removed from Projects - deemed extraneous</li>
				<li>Status added to Projects</li>
				<li>Description changed from string to text</li>
			</ul>

			<h5>Calendar</h5>
			<ul>
				<li>Calendar UI implemented</li>
			</ul>

			<h5>Items</h5>
			<ul>
				<li>Items created with name & type</li>
				<li>Association added with Projects (belongs_to)</li>
			</ul>

			<h5>Tasks</h5>
			<ul>
				<li>Association added with items (belongs_to)</li>
			</ul>

		</div>
	</div>


	<div class="panel panel-default changelog">
		<div class="panel-heading"><h4>apollo 1.10 <div class="pull-right">April 4, 2014</div></h4></div>
		<div class="panel-body">

			<h5>General</h5>
			<ul>
				<li>Dashboard added for tasks view</li>
			</ul>

			<h5>Tasks</h5>
			<ul>
				<li>Association added with Users (belongs_to)</li>
			</ul>

			<h5>User Interface</h5>
			<ul>
				<li>Noty.Js implemented for notification handling</li>
			</ul>


		</div>
	</div>


	<div class="panel panel-default changelog">
		<div class="panel-heading"><h4>apollo 1.00 <div class="pull-right">April 2, 2014</div></h4></div>
		<div class="panel-body">

			<h5>General</h5>
			<ul>
				<li>Assignments added to relation Users & Projects</li>
				<li>Refactored CSS/SCSS</li>
				<li>Refactored & created partials for efficiency</li>
				<li>Assets cleaned & precompiled for release</li>
			</ul>


		</div>
	</div>

	<div class="panel panel-default changelog">
		<div class="panel-heading"><h4>apollo 0.50 <div class="pull-right">March 28, 2014</div></h4></div>
		<div class="panel-body">

			<h5>General</h5>
			<ul>
				<li>Products for projects created</li>
				<li>New user interface</li>
			</ul>

			<h5>Products</h5>
			<ul>
				<li>Products created with name</li>
				<li>Association with projects implemented (has_many)</li>
			</ul>

			<h5>Users</h5>
			<ul>
				<li>User settings created</li>
				<li>User profile created</li>
			</ul>

			<h5>User Interface</h5>
			<ul>
				<li>Top menu created</li>
			</ul>

		</div>
	</div>


	<div class="panel panel-default changelog">
		<div class="panel-heading"><h4>apollo 0.40 <div class="pull-right">March 24, 2014</div></h4></div>
		<div class="panel-body">

			<h5>General</h5>
			<ul>
				<li>Projects added</li>
				<li>Tasks added</li>
				<li>New user interface</li>
			</ul>

			<h5>Projects</h5>
			<ul>
				<li>Projects created with name, description & due_date</li>
				<li>Association with tasks implemented (has_many)</li>
			</ul>

			<h5>Tasks</h5>
			<ul>
				<li>Tasks created with name, completed & due_date</li>
				<li>Association with projects implemented (belongs_to)</li>
			</ul>

		</div>
	</div>


	<div class="panel panel-default changelog">
		<div class="panel-heading"><h4>apollo 0.30 <div class="pull-right">March 21, 2014</div></h4></div>
		<div class="panel-body">

			<h5>General</h5>
			<ul>
				<li>SendGrid set up for Mailer settings</li>
				<li>New Relic set up for error monitoring</li>
			</ul>

			<h5>Users</h5>
			<ul>
				<li>Email confirmation required for registration implemented</li>
				<li>Registration with eClinicalWorks emails only implemented</li>
				<li>Forgot password & Reset password pages created</li>
				<li>Names added to users</li>
			</ul>

		</div>
	</div>


	<div class="panel panel-default changelog">
		<div class="panel-heading"><h4>apollo 0.20 <div class="pull-right">March 20, 2014</div></h4></div>
		<div class="panel-body">

			<h5>General</h5>
			<ul>
				<li>SASS stylesheets set up</li>
				<li>Bootstrap gem installed & configured</li>
			</ul>

			<h5>Users</h5>
			<ul>
				<li>User authentication with devise</li>
				<li>Registration & login pages created</li>
				<li>Forgot password & Reset password pages created</li>
			</ul>

		</div>
	</div>




	<div class="panel panel-default changelog">
		<div class="panel-heading"><h4>apollo 0.10 <div class="pull-right">March 17, 2014</div></h4></div>
		<div class="panel-body">

			<h5>General</h5>
			<ul>
				<li>Initial commit to Git</li>
				<li>Heroku setup at ecw-apollo.herokuapp.com</li>
				<li>Basic landing pages created</li>
				<li>User databases & models added</li>
			</ul>

		</div>
	</div>






</div>
