<div class="col-md-8">

	<div class="panel panel-default changelog">
		<div class="panel-heading"><h4>apollo 1.46</h4></div>
		<div class="panel-body">

			<h5>General</h5>
			<ul>
				<li>Changelog created & accessible by menu</li>
			</ul>

			<h5>Projects</h5>
			<ul>
				<li>Completed Projects now sorted by end date in Project index view</li>
			</ul>

			<h5>Emails</h5>
			<ul>
				<li>Email Notification now get sent whenever anyone new is assigned to Project</li>
				<li>Email Notification for assigned users when Project is created</li>
				<li>Email Notification UI created</li>
			</ul>

		</div>

	</div>

	<div class="panel panel-default changelog">
		<div class="panel-heading"><h4>apollo 1.45</h4></div>
		<div class="panel-body">

			Coming Soon

		</div>

	</div>






</div>
