<div class="col-md-12">

  <div class="panel panel-default">

    <div class="panel-heading">
      <h4><i class="fa fa-users"></i> All Projects
    </div>

    <div class="panel-body">

      <%= render partial: "projects/table", :locals => {:projects => Project.all.custom_sort} %>

    </div>

  </div>

</div>
