<div class="panel panel-default">
	<div class="panel-heading">
		<h4><i class="fa fa-folder-o"></i> My Projects <%= link_to "(View all Projects)", projects_path %><%= link_to 'New Project', new_project_path, class: "btn btn-sm btn-primary", style: "float: right;" %></h4>
	</div>
</div>

<hr>

<% for project in @projects %>

	<div class="panel panel-default">
		<div class="panel-heading">
			<%= render partial: "projects/title", :locals => {:project => project} %>
		</div>
		<div class="panel-body">
			<%= render partial: "projects/info", :locals => {:project => project} %>
		</div>
	</div>

<% end %>