<center>

	<%= form_for [@project.items.new], :html => {:class => 'form-inline'} do |f| %>

		<div class="form-group">
			<%= f.hidden_field :project_id, :value => @project.id, class: "form-control" %>
			<%= f.text_field :name, :placeholder => "Item name", class: "form-control", :required => true %>
			<%= f.submit "Add Item", class: "btn btn-md btn-success" %>
		</div>

	<% end %>

</center>