@import 'colors';

#project-comments { 
  padding-top: 20px;
  padding-bottom: 0px;
  overflow-y: scroll;
  max-height: 800px;
}

#new-comment-modal {

  .modal-body {
    padding: 0px;

    .row {
      width: 100%;
      margin: 0px;
    }

    textarea {
      width: 100%;
      float: left;
      border: 0px;
      padding: 10px;
    }
  }
}

.comment {
  width: 100%;
  float: left;
  margin-bottom: 10px;
}

.comment.alt {
  width: 100%;
  float: right;
  margin-bottom: 10px;
}

.comment span {
  float: left;
}

.comment.alt span {
  float: right;
}
.comment span, .comment.alt span {
  line-height: 45px;
  text-align: center;
  color: #fff;
  font-size: 16px;
}

.comment h4 {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 12px;
}

.comment p {
  margin-bottom: 0;
  font-size: 13px;
}

.comment hr {
  margin-top: 5px;
  margin-bottom: 5px;
  border-top: 1px solid #F3F3F3;
}

.comment .comment-desk i, .comment.alt .comment-desk i {
  // float: left;
  // font-size: 18px;
  // margin-right: 10px;
  // color: #bebebe;
  margin-left: 5px;
  float: right;
}

.comment-desk .panel .panel-body {
  padding: 15px;
}

.comment .comment-desk {
  margin-left: 60px;
  position: relative;
}

.comment.alt .comment-desk {
  margin-right: 60px;
  position: relative;
}

.comment.alt .comment-desk .panel {
  float: right;
  position: relative;
}

.comment-desk .panel {
  background: #F4F4F4;
  display: inline-block;
  margin-bottom: 10px;
  width: 100%;
}


.comment .comment-desk .arrow {
  border-right: 8px solid #F4F4F4 !important;
}
.comment .comment-desk .arrow {
  border-bottom: 8px solid transparent;
  border-top: 8px solid transparent;
  display: block;
  height: 0;
  left: -7px;
  position: absolute;
  top: 13px;
  width: 0;
}

.comment-desk .arrow-alt {
  border-left: 8px solid #F4F4F4 !important;
}

.comment-desk .arrow-alt {
  border-bottom: 8px solid transparent;
  border-top: 8px solid transparent;
  display: block;
  height: 0;
  right: -7px;
  position: absolute;
  top: 13px;
  width: 0;
}

