.alert {
  position: fixed;
  margin: 0px;
  z-index: 1031;
  display: inline-block;
  bottom: 20px;
  right: 20px;
  border-radius: 8px;
}

.alert-notice {
	background-color: #dff0d8;
  border: 2px solid #d6e9c6 !important;
	color: #3c763d;
}

.alert-alert, .alert-error {
	background-color: #f2dede;
  border: 2px solid #ebccd1 !important;
	color: #a94442;
}
