@import 'colors';

html, body {
  font-family: 'Open Sans', sans-serif;
}

hr { border-top: 1px solid #DDD; }

a, a:hover {	text-decoration: none !important; }


.inline { display: inline; }

.late {
	color: $red;
	font-weight: 700;
}

.tools-dropdown {
	float: right;
	list-style-type: none;
	padding: 0px;
	margin-right: 5px;
	.dropdown-menu { min-width: 0px; }
	.dropdown-menu li { padding-bottom: 0px; margin-left: 0px; }
	.dropdown-menu li ul { padding: 5px 0; }
	.dropdown-menu li ul a i { padding: 0px; }

	.dropdown-menu .dropdown-btn-modal i { padding: 6px 20px; }
	.dropdown-menu .dropdown-btn-modal:hover {
		background-color: #F6F6F6;
		cursor: pointer;
	}
}

.profile-photo, .profile-photo-small, .profile-photo-large {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}

.profile-photo {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.profile-photo-small {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.profile-photo-large {
  width: 75px;
  height: 75px;
}

.project-starred, .task-starred {
	display: inline-block;
  margin-right: 3px;

	.fa:hover {
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
	}
	.fa-star { color: $golden; }
  .fa-star:hover { color: #BBBBBB; }
	.fa-star-o { color: #BBBBBB; }
  .fa-star-o:hover { color: $golden; }

}
