@import 'colors';

.items-list {

	list-style-type: none;
	padding: 0;
	margin-bottom: 0px;

	.item {

		border-bottom: 1px solid #F3F3F3;

		h4 {
			padding: 15px 0;
			margin: 0px;

      .item-type-icon {
        color: #999;
        margin-right: 1px;
       }

			.item-name {
				color: #333;
				font-weight: 300;
				font-size: 16px;
				display: inline-block;
			}


			.item-status { margin-top: -4px; }

			.add-task-btn {
				margin-right: 10px;
				margin-left: 10px;
				color: #999;
				margin-top: -2px;
			}

			.item-tools { float: right; opacity: 0; }

		}

		.item-main:hover {
			background-color: #F9F9F9;

			.item-tools { opacity: 1; }

		}

		hr { margin-top: 0; margin-bottom: 0.5em; }

		.title-sm {
			display: inline-block;
			color: #999;
			font-size: 12px;
			padding-left: 10px;
		}

	}

}

#addItem {

	background-color: #F6F6F6;
	padding: 10px;

	-webkit-border-bottom-right-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;

	border-top: 1px solid #CCC;

	.form-group { width: 100%; }
	.add-item-name { min-width: 67%; }
	.add-item-title { font-size: 12px; display: inline-block; margin-left: 5px; margin-right: 5px; }
	.btn { background-color: #F9F9F9; }

	.close { padding-top: 4px; }
}


