@import 'colors';

.panel {
	border-radius: 0px;

   .panel-heading, .panel-footer {
      padding: 10px 25px;
   }

   .panel-heading {
    border-bottom: 1px solid #DDD;
    background-color: whitesmoke;
  }

   .panel-body {
     padding: 15px 25px;
   }

   h4 > .btn {
    margin-top: -4px;
   }

   .panel-title {
     padding: 5px;
    font-weight: 300;
   }

}

.panel-outside {
  -webkit-box-shadow: 0 1px 20px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 20px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 1px 20px rgba(0, 0, 0, 0.2);
	box-shadow: 0 1px 20px rgba(0, 0, 0, 0.2);

   .panel-footer {
      font-size: 12px;
      text-align: center;
   }

}

.panel-page-header {
  margin-top: -20px;

  .header-block {
    padding-left: 25px;
    margin-top: -3px;
    float: right;
    font-size: 12px;
    line-height: 25px;

    b { padding-right: 4px; }
    // i { padding-right: 4px; }
  }
}


