@import 'colors';

.project-description {
  font-size: 12px;
  color: #777;
  padding-bottom: 20px;
  line-height: 150%;
  text-align: justify;
}

.project-status, .item-status {
	display: inline-block;

  a { color: #333; }

	.dropdown-btn {
		text-align: left;
		font-size: 12px;
		font-weight: 500;
		padding: 3px 10px;

		i { padding-right: 3px; }
	}

	.btn-title {
		width: 100px;
	}

	.dropdown-menu li.dropdown-menu-item {
		cursor: pointer;
		text-align: left;
		padding: 5px 0px 5px 10px;
	}

	.dropdown-menu li.dropdown-menu-item:hover {
		background-color: #EEE;
	}

}

