@import 'colors';

.comment-wall-panel .panel-body { padding-top: 20px; padding-bottom: 0px; }
.new-comment-panel .panel-body { padding: 0px !important; }

.new-comment-panel {

	.form-group { width: 100%; }

	.panel-body .new-comment-field {
		width: 100%;
		float: left;
		border: 0px;
		padding: 10px;
	}
}


.comment {

	.comment-user-photo-section {
		padding-right: 0px;
		width: 12%;

		.comment-user-photo {
			border-radius: 50%;
			-webkit-border-radius: 50%;
			width: 40px;
			height: 40px;
		}
	}

	.comment-content-section {
		width: 88%;

		a.commenter { font-weight: bold; }

		.comment-content {
			display: inline-block;
			text-align: justify;
			font-color: #333;
		}

		.comment-tools {
			float: right;
			padding-left: 8px;
		}

		.comment-date {
			color: #666;
			font-size: 12px;
			display: inline-block;
			cursor: pointer;
			float: right;
		}

	}

}