@import 'colors';

.comment {
	a.commenter { font-weight: bold; }
	.comment-content { display: inline-block; text-align: justify; font-color: #333;}
	.comment-tools { float: right; }
	.comment-date { color: #999; font-size: 12px; display: inline-block; cursor: pointer;}
}