@import 'bootstrap';

html, body {
  font-family: 'Open Sans', sans-serif;
}

hr {
	border-top: 1px solid #ddd;
}
.frontpage {
	background: url('background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.insidepage {
	background: #ecf0f1;
}

.form-control {
	padding: 20px;
}


.panel-heading {
	padding: 20px;
}

.panel-footer {
	font-size: 12px;
	text-align: center;
}

.topBar {
	position: fixed;
	background-color: white;
	top: 0px;
	min-height: 100px;
	min-width: 100%;
	border: 1px solid #e7e7e7;
	-webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.05);
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.05);
}

.bottomBar {
	position: fixed;
	background-color: #428bca;
	bottom: 0px;
	min-height: 100px;
	min-width: 100%;
	border: 1px solid #357ebd;
	-webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.05);
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.05);
}

.panel {
	-webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.05);
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.05);
}

.panel-outside {
	-webkit-box-shadow: 0 1px 20px rgba(0, 0, 0, 0.2);
	box-shadow: 0 1px 20px rgba(0, 0, 0, 0.2);
}


.logo {
	font-family: 'Orbitron', sans-serif;
	font-weight: bold;
	font-size: 4em;
	padding-bottom: 20px;
	text-align: center;

	color: white;
	text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9,0 3px 0 #bbb,0 4px 0 #b9b9b9,0 5px 0 #aaa,0 6px 1px rgba(0,0,0,.1),0 0 5px rgba(0,0,0,.1),0 1px 3px rgba(0,0,0,.3),0 3px 5px rgba(0,0,0,.2),0 5px 10px rgba(0,0,0,.25),0 10px 10px rgba(0,0,0,.2),0 20px 20px rgba(0,0,0,.15);
	//text-shadow: -1px 0 #DDD, 0 1px #DDD, 1px 0 #DDD, 0 -1px #DDD, 0 1px 5px rgba(0, 0, 0, 0.1);
}

.logo a {
	color: white;
}

.logo a:hover {
	text-decoration: none;
}

.alert-info {
	text-align: center;
}