@import 'bootstrap';

// GENERAL COLOR //

$blue: #79D3FC;
$dark-blue: #059ce0;
$red: #CD3333;

// GENERAL HTML //

html, body {
  font-family: 'Open Sans', sans-serif;
}

hr {
	border-top: 1px solid #ddd;
}

.container {
	margin-bottom: 50px;
}

a:hover {
	text-decoration: none;
}

.fa-stack {
	color: $dark-blue;
}

.front-page {
	background: url('background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.inside-page {
	background: #ecf0f1;
	background: url('old_mathematics.png') repeat;
}

.late {
	display: inline-block;
	font-weight: bold;
	color: $red;
}



// NAV

.navbar {
	border-radius: 0px;
	-webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.05);
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.05);
	border: 1px solid #dddddd;

	.navbar-brand {
		font-family: 'Orbitron', sans-serif;
		padding-left: 50px;
		padding-right: 100px;
		padding-top: 18px;
	}

	.main-menu.navbar-nav li {
		padding-right: 10px;
		padding-left: 10px;

	}

	.main-menu.navbar-nav .selected {
		background-color: $dark-blue;

		a {
			color: white;
		}


	}



}


// FORMS

.form-control {
//	padding: 20px;
}

// PANELS //

.panel {
	border-radius: 0px;
	-webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.05);
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.05);


	.panel-footer {
		font-size: 12px;
		text-align: center;
	}
}

.panel-outside {
	-webkit-box-shadow: 0 1px 20px rgba(0, 0, 0, 0.2);
	box-shadow: 0 1px 20px rgba(0, 0, 0, 0.2);
}

.btn {
	-webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.05);
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.05);
}

// PROJECTS

.project-info, .user-info {

	p {
		color: #666;
		line-height: 200%;
	}

	i {
		padding-right: 5px;
		color: #666;
	}


}

.items-list {
	ul {
		padding: 5px 0 0 15px;

		li { padding-bottom: 10px; }

	}
}

// TASKS

.tasks-list {

	.title-sm {
		display: inline-block;
		color: #999;
		font-size: 12px;
		padding-bottom: 5px;
	}

	hr {
		margin-top: 0.5em;
		margin-bottom: 0.5em;
	}

	ul {
		list-style-type: none;
		padding: 5px 0 0 15px;

		li { padding-bottom: 10px; }

		li a i { padding-right: 5px; }

		li .task-name, .task-date { display: inline-block; }

		li .task-date { color: #999; }

		li.task-late .task-name, li.task-late .task-date { color: $red; }

		li.task-completed { font-style: italic; color: #bbb; }
		li.task-completed i { color: #bbb; }
		li.task-completed .task-name { text-decoration: line-through;}




		hr {
			margin: 2px 0 15px 20px;
			border-top: 1px solid #EEE;
		}

		.tools-dropdown {
			padding: 0px;

			li { padding-bottom: 0px; }

			li ul { padding: 5px 0; }

			li ul a i { padding: 0px; }
		}


	}


	.add-task i {
		padding-left: 15px;
		padding-right: 15px;
	}

}

.tools { float: right; }


.tools-dropdown {
	float: right;
	list-style-type: none;
	padding-right: 5px;

	li ul { min-width: 0px; }

	li a { opacity: 0.8; }

	li a:hover { opacity: 1; }
}

// ROW

.row {
	margin-top: 50px;
}

// LOGO

.logo {
	font-family: 'Orbitron', sans-serif;
	font-weight: bold;
	font-size: 4em;
	padding-bottom: 20px;
	text-align: center;

	color: white;
	text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9,0 3px 0 #bbb,0 4px 0 #b9b9b9,0 5px 0 #aaa,0 6px 1px rgba(0,0,0,.1),0 0 5px rgba(0,0,0,.1),0 1px 3px rgba(0,0,0,.3),0 3px 5px rgba(0,0,0,.2),0 5px 10px rgba(0,0,0,.25),0 10px 10px rgba(0,0,0,.2),0 20px 20px rgba(0,0,0,.15);
	//text-shadow: -1px 0 #DDD, 0 1px #DDD, 1px 0 #DDD, 0 -1px #DDD, 0 1px 5px rgba(0, 0, 0, 0.1);
}

.logo a {
	color: white;
}

.logo a:hover {
	text-decoration: none;
}

// ALERTS

.alert-info {
	text-align: center;
}


// CALENDAR
.calendar {
  border-collapse: collapse;
  width: 100%;

  tr {
  }

  td, th {
    font-size: 10px;
    padding: 6px;
    border: 1px solid #999;
  }

  th {
    //background: #DDD;
    color: #666;
    text-align: center;
    width: 14.2857142857143%;
    text-transform: uppercase;
  }

  td {
    background: #FFF;
    color: #777;
    height: 120px;
    vertical-align: top;
    text-align: right;
    font-size: 12px;
  }

  .notmonth, .notmonth a { background-color: #F7F7F7; color: #CCC; }
  .today {
  	background-color: #e4f6fe;
  	//border: 2px solid #999;
  }


	ul {
	  font-size: 10px;
	  padding-left: 0px;
	  list-style-type: none;

	  li {
	  	background-color: $blue;
	  	border: 1px solid $blue;
	  	border-radius: 5px;
	  	padding: 5px;
	  	margin-top: 2px;
	  	text-align: left;
	  }

	  a, a:hover {
	  		color: #333;
	  		text-decoration: none;
	  }

	  a:hover li {
	  		border: 1px solid #60a8c9;
	  }

	}
}

#month {
		font-weight: bold;
	  margin: 0;
	  padding-bottom: 10px;
	  text-align: center;
	  font-size: 16px;
	  text-transform: uppercase;

  a {
    text-decoration: none;
    padding: 0 10px;
    color: #999;
  }
}

.comment {
	a.commenter { font-weight: bold; }
	.comment-content { display: inline-block; }
	.comment-tools { float: right; }
	.comment-date { color: #999; font-size: 12px;}
}