@import 'bootstrap';
@import 'colors';

// GENERAL HTML //

html, body {
  font-family: 'Open Sans', sans-serif;
  //font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

hr {
	border-top: 1px solid #ddd;
}

.container {
	margin-bottom: 50px;
}

a:hover {
	text-decoration: none;
}

.fa-stack {
	color: $dark-blue;
}

.front-page {
	background: url('background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.inside-page {
	background: #ecf0f1;
	background: url('grid2.png') repeat;
}

.late {
//	display: inline-block;
	color: $red;
	font-weight: 700;
}


.row {
	margin-top: 50px;
}


.alert-info {
	text-align: center;
}