@import 'colors';

.panel {
	border-radius: 0px;
	//-webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.05);
	//box-shadow: 0 1px 5px rgba(0, 0, 0, 0.05);

   .panel-body, .panel-heading { padding-left: 25px; padding-right: 25px; }

   .panel-heading h4 { margin-top: 5px; margin-bottom: 5px; }


	.panel-footer {
		font-size: 12px;
		text-align: center;
	}
}

.panel-outside {
	-webkit-box-shadow: 0 1px 20px rgba(0, 0, 0, 0.2);
	box-shadow: 0 1px 20px rgba(0, 0, 0, 0.2);
}

.btn {
	//-webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.05);
	//box-shadow: 0 1px 5px rgba(0, 0, 0, 0.05);
}