@import 'colors';

.user-profile {
	.panel-heading {
		background-color: $charcoal;
		color: white;
		text-align: center;
		font-weight: 300;

		a { color: white; font-weight: 300 }
	}



	h5 { font-weight: 100; }

}