@import 'colors';

.project-status {

	display: inline-block;

	button {
		text-align: left;
		font-size: 12px;
		font-weight: 500;
		padding: 3px 10px;

		i {
			padding-right: 3px;
		}

	}

	.btn-title {
		width: 100px;
	}

	ul li {
		cursor: pointer;
		text-align: left;
		padding: 5px 0px 5px 10px;
	}

	ul li:hover {
		background-color: #EEE;
	}

}

.project-info, .user-info {

	p {
		color: #666;
		line-height: 200%;
	}

	i {
		padding-right: 5px;
		color: #666;
	}

}

table.projects-table {
	margin-bottom: 0px;
	tr td { vertical-align: middle; }

	.edit-cog i {
		color: #999;
	}
}