@import 'colors';

.project-user-photo {
	border-radius: 50%;
	-webkit-border-radius: 50%;
	width: 25px;
	height: 25px;
}

.project-details-panel {

	.panel-body {
		line-height: 200%;

		.project-label { padding-left: 0px; font-weight: 700;}

		.project-field {
			.fa { margin-right: 5px; color: #999; }
			i { color: #999; }
		}
		.project-hr { padding: 0px; }

		.project-assigned {
			line-height: 250%;

			.project-user-photo { margin-right: 5px; }

			i { color: #999; padding-top: 4px; }
		}

		.project-description {
			padding: 0px;
			padding-bottom: 20px;
			line-height: 150%;
			text-align: justify;
			font-color: #888;

			i { color: #999; }

		}

	}

}

.project-starred {
	display: inline-block;
	.fa:hover {
		color: $golden;
		-webkit-transition: all .25s ease-in-out;
      -moz-transition: all .25s ease-in-out;
      -o-transition: all .25s ease-in-out;
      transition: all .25s ease-in-out;
	}
	.fa-star { color: $golden; }
	.fa-star-o { color: #999999; }
}


.project-status, .item-status {

	display: inline-block;

	.dropdown-btn {
		text-align: left;
		font-size: 12px;
		font-weight: 500;
		padding: 3px 10px;

		i {
			padding-right: 3px;
		}

	}

	.btn-title {
		width: 100px;
	}

	.dropdown-menu li.dropdown-menu-item {
		cursor: pointer;
		text-align: left;
		padding: 5px 0px 5px 10px;
	}

	.dropdown-menu li.dropdown-menu-item:hover {
		background-color: #EEE;
	}

}


table.projects-table {
	margin-bottom: 0px;
	tr td { vertical-align: middle; }

	tr:hover { background-color: #f9f9f9; }

	.edit-cog i {
		color: #999;
	}

}