@import 'colors';

nav.side-nav {
	position: fixed;
	height: 100%;

	padding: 0px;

	background-color: $charcoal;
	//background: url('concrete_wall.png') repeat;

	-webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);


	.user-section {
		padding: 20px 0;
		background-color: darken($dark-charcoal, 5%);


	}
	.user-name {
		display: inline-block;
		padding-left: 20px;
		color: whitesmoke;
	}

	.profile-photo {
		margin-left: 20px;
	}

	.brand {
		color: white;
		font-family: 'Orbitron', sans-serif;
		padding: 15px 40px 10px 40px;
		font-size: 20px;
	}

	hr { margin: 0px auto; width: 90%; border-color: $dark-gray; opacity: 0.1;}

	ul li {

		a {


			font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
			border-radius: 0px;
			margin: 0px;
			padding: 20px;
			padding-left: 40px;
			padding-right: 40px;
			color: $dark-gray;

			i {
				padding-right: 10px;
			}

			.badge {
				float: right;
				font-size: 10px;
				font-weight: 300;
				background-color: $dark-gray;

			}

			 text-transform: uppercase;
			 font-size: 13px;
			 font-weight: 300;

	      -webkit-transition: all .75s ease-in-out;
	      -moz-transition: all .75s ease-in-out;
	      -o-transition: all .75s ease-in-out;
	      transition: all .75s ease-in-out;
		}

		a:hover {
			background-color: $dark-charcoal;
			color: white;
		}

	}

	ul li.selected a {
		background-color: $dark-charcoal;
		color: white;

		i {
			color: $dark-blue;
		}

	}

	ul li.selected a:hover {

		-webkit-transition: all .75s ease-in-out;
      -moz-transition: all .75s ease-in-out;
      -o-transition: all .75s ease-in-out;
      transition: all .75s ease-in-out;

	}


}