@import 'colors';
$gray-blue: #2b2d37;
$dark-gray: #6c6b70;
$lighter-gray: #76757a;
$darker-gray-blue: #22242c;


nav.side-nav {
	position: fixed;
	height: 100%;

	background-color: $gray-blue;
	//background: url('concrete_wall.png') repeat;

	padding: 20px 0px;

	-webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);

	.user-name {
		display: inline-block;
		padding-left: 20px;
		color: whitesmoke;
	}

	.profile-photo {
		margin-left: 20px;
	}

	hr { margin: 0px auto; width: 90%; border-color: $dark-gray; opacity: 0.1;}

	ul li {

		a {


			font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
			border-radius: 0px;
			margin: 0px;
			padding: 20px;
			padding-left: 40px;
			padding-right: 40px;
			color: $dark-gray;

			i {
				padding-right: 10px;
			}

			.badge {
				float: right;
				font-size: 10px;
				font-weight: 300;
				background-color: $dark-gray;

			}

			 text-transform: uppercase;
			 font-size: 13px;
			 font-weight: 300;

	      -webkit-transition: all .75s ease-in-out;
	      -moz-transition: all .75s ease-in-out;
	      -o-transition: all .75s ease-in-out;
	      transition: all .75s ease-in-out;
		}

		a:hover {
			background-color: $darker-gray-blue;
			color: white;
		}

	}

	ul li.selected a {
		background-color: $darker-gray-blue;
		color: white;

		.badge {
			background-color: $dark-gray;
		}
	}

	ul li.selected a:hover {

		-webkit-transition: all .75s ease-in-out;
      -moz-transition: all .75s ease-in-out;
      -o-transition: all .75s ease-in-out;
      transition: all .75s ease-in-out;

	}


}