@import 'colors';

.tasks-list, .items-list {


	.title-sm {
		display: inline-block;
		color: #999;
		font-size: 12px;
		padding-bottom: 5px;
	}

	hr {
		margin-top: 0.5em;
		margin-bottom: 0.5em;
	}

	ul {
		list-style-type: none;
		padding: 5px 0 0 15px;

		li { padding-bottom: 10px; }

		li a i { padding-right: 5px; }

		li .task-name, .task-date { display: inline-block; }

		li .task-date { color: #999; }

		li.task-late .task-name, li.task-late .task-date { color: $red; font-weight: 600; }

		li.task-completed { font-style: italic; color: #bbb; }
		li.task-completed i { color: #bbb; }
		li.task-completed .task-name { text-decoration: line-through;}




		hr {
			margin: 2px 0 15px 20px;
			border-top: 1px solid #EEE;
		}

		.tools-dropdown {
			padding: 0px;

			li { padding-bottom: 0px; }

			li ul { padding: 5px 0; }

			li ul a i { padding: 0px; }
		}


	}


	.add-task i {
		padding-left: 15px;
		padding-right: 15px;
	}

}

.items-list ul li .fa-file-o { color: #AAA; margin-right: 3px; }


.tools { float: right; }


.tools-dropdown {
	float: right;
	list-style-type: none;
	padding-right: 5px;
	padding-left: 10px;

	li ul { min-width: 0px; }

	li a { opacity: 0.8; }

	li a:hover { opacity: 1; }
}