<div class="container">

	<div class="panel panel-default">
		<div class="panel-heading" style="padding: 5px 20px 5px 20px;">
			<h3><%= @product.name %>
				<div style="float:right"><%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_product_path(@product) %> <%= link_to '<i class="fa fa-trash-o"></i>'.html_safe, @product, method: :delete, data: { confirm: 'Are you sure?' } %></div></h3>
		</div>
		<div class="panel-body">
		</div>
	</div>

	<br>

</div>