<div class="col-md-12">

	<div class="panel panel-default">

		<div class="panel-heading">
			<h3><%= @product.name %>
				<div class="pull-right" data-toggle="modal" data-target="#edit_product_<%= @product.id %>_modal"><a href="javascript:void(0)"><i class="fa fa-pencil"></i></a></div>
			</h3>
			<%= render "products/edit", :product => @product %>
		</div>

		<div class="panel-body">
			 <%= render "projects/table", :projects => @product.projects.priority_sort %>
		</div>

	</div>

</div>

